<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="IPAddress" value="1.1.1.2" />
    <add key="LogPath" value="C:\acrelec\RunPCDCheck\Logs\Log.txt" />
    <!--<add key="LogPath" value="C:\Users\Thomas Donkor\source\repos\RunPCDCall\RunPCDCall\bin\Debug\Logs\Log.txt"/> -->
  </appSettings>
</configuration>